@font-face {
  font-family: 'HelveticaNeueLTStd25UltraLight_22508';
  src: url('../fonts/HelveticaNeueLTStd25UltraLight22508.woff.woff2') format('woff2'),
  url('../fonts/HelveticaNeueLTStd25UltraLight22508.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bpg-rioni-vera-light-webfont';
  src: url('../fonts/bpg-rioni-vera-light-webfont.woff2') format('woff2'),
  url('../fonts/bpg-rioni-vera-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 40px;
  font-family: 'HelveticaNeueLTStd25UltraLight_22508';
}
.logo {
  width: 100px;
  padding-right: 60px;
}
.works {
  display: flex;
}
.url {
  font-size: 30px;
  color: #999999;
  letter-spacing: 2px;
}
.ka {
  font-family: 'bpg-rioni-vera-light-webfont';
  font-weight: normal;
  letter-spacing: 1px;
  color: #aaa6a6;
}
h6 {
  margin: 0px 0 20px 0;
}
.url a:hover {
  color: #000;
}
a {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
  transition: color .3s;
}
footer {
  font-size: 14px;
  letter-spacing: 1px;
}
