@font-face {
  font-family: 'HelveticaNeueLTStd25UltraLight_22508';
  /* src: url('../fonts/HelveticaNeueLTStd-ThCn.woff2') format('woff2'), */
  /* url('../fonts/HelveticaNeueLTStd-ThCn.woff') format('woff'), */
  src:  url('../fonts/HelveticaNeueLTStd25UltraLight_22508.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStd45Light_22520';
  /* src: url('../fonts/HelveticaNeueLTStd-ThCn.woff2') format('woff2'), */
  /* url('../fonts/HelveticaNeueLTStd-ThCn.woff') format('woff'), */
  src:  url('../fonts/HelveticaNeueLTStd45Light_22520.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100;200&family=PT+Sans&display=swap');
.ka {
  font-family: 'Noto Sans Georgian', sans-serif;
  font-weight: 200;
}
body {
  margin: 0px;
  padding: 40px;
  font-family: 'HelveticaNeueLTStd25UltraLight_22508';
}
.logo {
  width: 100px;
  padding-right: 60px;
}
.works {
  display: flex;
}
.url {
  font-size: 30px;
  color: #999999;
  letter-spacing: 2px;
}
h6 {
  margin: 0px 0 20px 0;
}
.url a:hover {
  color: #000;
}
a {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
  transition: color .3s;
}
footer {
  font-size: 14px;
  letter-spacing: 1px;
}
